{
  "swagger": "2.0",
  "info": {
    "title": "Tedu.Server Admin API",
    "version": "v3.0.30.0"
  },
  "host": "develop.tedu.app",
  "basePath": "/api-admin",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/Account/GetMagicLink": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetMagicLink",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EmailInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMagicLinkSuccessResultModel"
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending a new request",
                "type": "integer",
                "format": ""
              }
            }
          },
          "429": {
            "description": "Client Error",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending a new request",
                "type": "integer",
                "format": ""
              }
            }
          }
        }
      }
    },
    "/api/Account/Logout": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": " (Auth)",
        "operationId": "Account_Logout",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenModel"
            }
          }
        }
      }
    },
    "/api/Account/VerifyEmail": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Indicating whether email exists on the server side.",
        "operationId": "Account_VerifyEmail",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Email",
            "description": "Gets or sets the email address.",
            "required": true,
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "minLength": 0
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SuccessResultModel"
            }
          }
        }
      }
    },
    "/api/Account/Login": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Generates a token to access Tedu Tutoring API throw magic link.",
        "operationId": "Account_Login",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Token",
            "description": "Gets or sets the user's magic link token.",
            "required": true,
            "type": "string",
            "maxLength": 500,
            "minLength": 1
          },
          {
            "in": "query",
            "name": "Email",
            "description": "Gets or sets the user's email.",
            "required": true,
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "minLength": 0
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenModel"
            }
          }
        }
      }
    },
    "/api/Account/RefreshToken": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_RefreshToken",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RefreshTokenInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenModel"
            }
          }
        }
      }
    },
    "/api/Admins/myId": {
      "get": {
        "tags": [
          "Admins"
        ],
        "summary": " (Auth)",
        "operationId": "Admins_GetMyId",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserIdModel"
            }
          }
        }
      }
    },
    "/api/Admins/page/{pageNumber}": {
      "get": {
        "tags": [
          "Admins"
        ],
        "summary": " (Auth)",
        "operationId": "Admins_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "FullName.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "query",
            "name": "Email.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "query",
            "name": "IsRoot",
            "description": "Gets or sets filtering by is root parameters.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AdminRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/Admins/{id}": {
      "get": {
        "tags": [
          "Admins"
        ],
        "summary": " (Auth)",
        "operationId": "Admins_GetSingle",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AdminRowModel"
            }
          },
          "204": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admins"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "Admins_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateAdminInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AdminRowModel"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admins"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "Admins_Deactivate",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Admins": {
      "post": {
        "tags": [
          "Admins"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "Admins_Add",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddAdminInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AdminRowModel"
            }
          }
        }
      }
    },
    "/api/Admins/{id}/accessRights": {
      "get": {
        "tags": [
          "Admins"
        ],
        "summary": " (Auth)",
        "operationId": "Admins_GetAccessRights",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AdminAccessRightsModel"
            }
          },
          "204": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admins"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "Admins_UpdateAccessRights",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AdminAccessRightsInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AdminAccessRightsModel"
            }
          }
        }
      }
    },
    "/api/ApplicationSettings/page/{pageNumber}": {
      "get": {
        "tags": [
          "ApplicationSettings"
        ],
        "summary": " (Auth)",
        "operationId": "ApplicationSettings_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApplicationSettingRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/ApplicationSettings": {
      "post": {
        "tags": [
          "ApplicationSettings"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "ApplicationSettings_Add",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddApplicationSettingInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/AppointmentGroups": {
      "post": {
        "tags": [
          "AppointmentGroups"
        ],
        "summary": " (Auth policies: CAN_ADD_STUDY_GROUPS)",
        "operationId": "AppointmentGroups_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AppointmentGroupInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/integration/courses": {
      "post": {
        "tags": [
          "CourseIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "CourseIntegration_Import",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CourseListInputModel"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "get": {
        "tags": [
          "CourseIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "CourseIntegration_Export",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "CourseIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "CourseIntegration_Delete",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CourseTitlesInputModel"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/integration/courses/academicMeetings": {
      "post": {
        "tags": [
          "CourseIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "CourseIntegration_ImportAcademicMeetings",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CourseAcademicMeetingsImport"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/integration/courses/all": {
      "delete": {
        "tags": [
          "CourseIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "CourseIntegration_DeleteAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Courses/page/{pageNumber}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": " (Auth)",
        "operationId": "Courses_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CourseRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/Courses/{id}/leaders": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": " (Auth)",
        "operationId": "Courses_GetAvailableCourseLeaders",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AvailableLeadersModel"
            }
          }
        }
      }
    },
    "/api/Enquires/page/{pageNumber}": {
      "get": {
        "tags": [
          "Enquires"
        ],
        "summary": " (Auth)",
        "operationId": "Enquires_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "IsAvailability",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "EnquiryCourseIds.Contains",
            "required": true,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EnquiryRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/Leaders/page/{pageNumber}": {
      "get": {
        "tags": [
          "Leaders"
        ],
        "summary": " (Auth)",
        "operationId": "Leaders_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "StudyGroupCourseIds.Contains",
            "required": true,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "AvailableCourseIds.Contains",
            "required": true,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "EligibleCourseIds.Contains",
            "required": true,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "query",
            "name": "IsInactive",
            "type": "boolean"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LeaderRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/Locations/page/{pageNumber}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": " (Auth)",
        "operationId": "Locations_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "Capacity.From",
            "description": "Gets or sets left bound for a filtration range.\r\nCan be empty for the open interval filtration.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Capacity.To",
            "description": "Gets or sets right bound for a filtration range.\r\nCan be empty for the open interval filtration.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "query",
            "name": "IsActive",
            "description": "Gets or sets status parameter.",
            "type": "boolean"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/Locations/{id}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": " (Auth)",
        "operationId": "Locations_GetSingle",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationModel"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Locations"
        ],
        "summary": " (Auth)",
        "operationId": "Locations_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LocationUpdateInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationModel"
            }
          }
        }
      }
    },
    "/api/Locations": {
      "post": {
        "tags": [
          "Locations"
        ],
        "summary": " (Auth)",
        "operationId": "Locations_Add",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LocationAddInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Locations/{id}/changeStatus": {
      "post": {
        "tags": [
          "Locations"
        ],
        "summary": " (Auth)",
        "operationId": "Locations_ChangeStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LocationStatusInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationModel"
            }
          }
        }
      }
    },
    "/api/Reports/SendAttendanceReport": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": " (Auth)",
        "operationId": "Reports_SendAttendanceReport",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AttendanceReportInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SuccessResultModel"
            }
          }
        }
      }
    },
    "/api/integration/students": {
      "post": {
        "tags": [
          "StudentIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "StudentIntegration_Import",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudentListInputModel"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "get": {
        "tags": [
          "StudentIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "StudentIntegration_Export",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "StudentIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "StudentIntegration_Delete",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudentEmailsInputModel"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/integration/students/all": {
      "delete": {
        "tags": [
          "StudentIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "StudentIntegration_DeleteAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/integration/students/availability": {
      "post": {
        "tags": [
          "StudentIntegration"
        ],
        "summary": " (Auth policies: IS_ROOT)",
        "operationId": "StudentIntegration_ImportAvailability",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LeaderAvailabilityInputModel"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/api/StudyGroups/page/{pageNumber}": {
      "get": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth)",
        "operationId": "StudyGroups_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "Leader.IsEqual",
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "Course.IsEqual",
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "query",
            "name": "IsInactive",
            "type": "boolean"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudyGroupRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/StudyGroups/{id}": {
      "get": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth)",
        "operationId": "StudyGroups_GetSingle",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudyGroupModel"
            }
          },
          "204": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth policies: CAN_DELETE_STUDY_GROUPS)",
        "operationId": "StudyGroups_Suspend",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/StudyGroups": {
      "post": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth policies: CAN_ADD_STUDY_GROUPS)",
        "operationId": "StudyGroups_Add",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudyGroupAddInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/StudyGroups/{id}/updateTimetable": {
      "post": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth policies: CAN_EDIT_STUDY_GROUPS)",
        "operationId": "StudyGroups_UpdateTimetable",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudyGroupUpdateTimetableInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/StudyGroups/availableLeaders": {
      "get": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth)",
        "operationId": "StudyGroups_GetAvailableLeaders",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "CourseId",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          },
          {
            "in": "query",
            "name": "TimetableId",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          },
          {
            "in": "query",
            "name": "TimeSlot",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AvailableLeadersModel"
            }
          }
        }
      }
    },
    "/api/StudyGroups/{id}/changeLeader": {
      "post": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth policies: CAN_EDIT_STUDY_GROUPS)",
        "operationId": "StudyGroups_ChangeLeader",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudyGroupLeaderInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LeaderUserModel"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/StudyGroups/{id}/changeEnrollment": {
      "post": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth policies: CAN_EDIT_STUDY_GROUPS)",
        "operationId": "StudyGroups_ChangeEnrollment",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudyGroupEnrollmentInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudyGroupModel"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/generateGroups": {
      "post": {
        "tags": [
          "StudyGroups"
        ],
        "summary": " (Auth policies: CAN_EDIT_STUDY_GROUPS)",
        "operationId": "StudyGroups_GenerateGroups",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fromDateTime",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/StudySessions/page/{pageNumber}": {
      "get": {
        "tags": [
          "StudySessions"
        ],
        "summary": " (Auth)",
        "operationId": "StudySessions_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "query",
            "name": "ScheduledDateTimeUtc.DateFrom",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "ScheduledDateTimeUtc.DateTo",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "ScheduledDateTimeUtc.TimeFrom",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "ScheduledDateTimeUtc.TimeTo",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "Leader.IsEqual",
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "Course.IsEqual",
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "IsInactive",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsConducted",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "IsCancelled",
            "type": "boolean"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudySessionRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/StudySessions/{id}": {
      "get": {
        "tags": [
          "StudySessions"
        ],
        "summary": " (Auth)",
        "operationId": "StudySessions_GetSingle",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudySessionModel"
            }
          }
        }
      }
    },
    "/api/StudySessions/{id}/availableLeaders": {
      "get": {
        "tags": [
          "StudySessions"
        ],
        "summary": " (Auth)",
        "operationId": "StudySessions_GetAvailableLeaders",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "QuickSearchFullName",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AvailableLeadersModel"
            }
          }
        }
      }
    },
    "/api/StudySessions/{id}/changeLeader": {
      "post": {
        "tags": [
          "StudySessions"
        ],
        "summary": " (Auth policies: CAN_EDIT_STUDY_GROUPS)",
        "operationId": "StudySessions_ChangeLeader",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudyGroupLeaderInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LeaderUserModel"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/StudySessions/{id}/changeLocation": {
      "post": {
        "tags": [
          "StudySessions"
        ],
        "summary": " (Auth policies: CAN_EDIT_STUDY_GROUPS)",
        "operationId": "StudySessions_ChangeLocation",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudySessionLocationInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LeaderUserModel"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/StudySessions/Cancel": {
      "post": {
        "tags": [
          "StudySessions"
        ],
        "summary": " (Auth)",
        "operationId": "StudySessions_CancelSessions",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudySessionCancelInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/TestTools/GenerateBearerToken": {
      "get": {
        "tags": [
          "TestTools"
        ],
        "operationId": "TestTools_GenerateBearerToken",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Email",
            "description": "Gets or sets the email address.",
            "required": true,
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "minLength": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenModel"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/api/TestTools/PreviewEmailNotifications": {
      "post": {
        "tags": [
          "TestTools"
        ],
        "summary": " (Auth)",
        "operationId": "TestTools_PreviewEmailNotifications",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PreviewEmailNotificationsInputModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenModel"
            }
          }
        }
      }
    },
    "/api/Timetable": {
      "get": {
        "tags": [
          "Timetable"
        ],
        "summary": " (Auth)",
        "operationId": "Timetable_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AvailableTimetablesModel"
            }
          }
        }
      }
    },
    "/api/Timetable/ActiveAcademicPeriod": {
      "get": {
        "tags": [
          "Timetable"
        ],
        "summary": " (Auth)",
        "operationId": "Timetable_GetActiveAcademicPeriod",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AcademicPeriodInfo"
            }
          }
        }
      }
    },
    "/api/Tutors/page/{pageNumber}": {
      "get": {
        "tags": [
          "Tutors"
        ],
        "summary": " (Auth)",
        "operationId": "Tutors_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "AvailableCourseIds.Contains",
            "required": true,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TutorRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/UniversitySettings": {
      "get": {
        "tags": [
          "UniversitySettings"
        ],
        "summary": " (Auth)",
        "operationId": "UniversitySettings_Find",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UniversitySettingsModel"
            }
          },
          "204": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "UniversitySettings"
        ],
        "summary": " (Auth policies: CAN_EDIT_UNIVERSITY_SETTINGS)",
        "operationId": "UniversitySettings_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UniversitySettingsInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UniversitySettingsModel"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "UniversitySettings"
        ],
        "summary": " (Auth policies: CAN_EDIT_UNIVERSITY_SETTINGS)",
        "operationId": "UniversitySettings_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UniversitySettingsUpdateInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UniversitySettingsModel"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Users/{id}/userInfo": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_GetUserInfo",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserInfoModel"
            }
          },
          "204": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_UpdateUserInfo",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateUserInfoInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserDetailsModel"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Users/{id}/avatar": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "Users_FindAvatar",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "Token",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "query",
            "name": "MinimumSize",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "304": {
            "description": "Not Modified"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_UpdateAvatar",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file",
            "format": "binary"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_Add",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddUserInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Users/{id}/sendEmail": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_SendEmail",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EmailMessageInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Users/sendEmail": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_SendBulkEmail",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SendBulkEmailInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Users/{id}/details": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_GetDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserDetailsModel"
            }
          },
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Users/{id}": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateUserInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserDetailsModel"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Users/{id}/timetable": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_GetStudentTimetable",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudentTimetableModel"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_UploadTimetable",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudentTimetableInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudentTimetableModel"
            }
          }
        }
      }
    },
    "/api/Users/{id}/studentInfo": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_GetStudentInfo",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudentInfoModel"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_UpdateStudentInfo",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudentInfoInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudentInfoModel"
            }
          }
        }
      }
    },
    "/api/Users/{id}/leaderInfo": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_GetLeaderInfo",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LeaderInfoModel"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_UpdateLeaderInfo",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/LeaderInfoInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LeaderInfoModel"
            }
          }
        }
      }
    },
    "/api/Users/{id}/leadingStatus": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_ChangeLeadingStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeLeadingStatusInputModel"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserInfoModel"
            }
          }
        }
      }
    },
    "/api/Users/page/{pageNumber}/students": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_GetStudents",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "SortBy"
          },
          {
            "in": "query",
            "name": "Order"
          },
          {
            "in": "query",
            "name": "StudyGroupCourseIds.Contains",
            "required": true,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "GroupRequestCourseIds.Contains",
            "required": true,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "QuickSearch.Contains",
            "description": "Gets or sets the pattern, that text should contain.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "query",
            "name": "IsInactive",
            "type": "boolean"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StudentRowModelPagedListModel"
            }
          }
        }
      }
    },
    "/api/Users/{id}/tutorInfo": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth)",
        "operationId": "Users_GetTutorInfo",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TutorInfoModel"
            }
          },
          "204": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": " (Auth policies: CAN_EDIT_USERS)",
        "operationId": "Users_UpdateTutorInfo",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
[...]
